html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  * :not(nav li, h1, h2) {
     border-radius: 5px;
  }
body {
    padding: 0; 
    margin: 0;
    border: 0px solid red;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #598891;
    border-radius: 5px;
}
.wrapper {
    
    margin: 0;
    padding: 0;
    padding-top: 2rem;
    border: 0px solid red;
    
}
article {

    width:75%;
    margin: 3rem auto;
    background-color: #017181;
    padding: 1rem 1rem 2rem 1rem;

    border: 2px solid #34777B;
    
}
a {
    text-decoration: none;
}
nav {
    padding-bottom: 2rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto; 
    
}

nav ul {
    background-color: #39A0A2;
    Border: 2px solid #34777B;
    width:fit-content;
    list-style-type:none;
    display:block;
    color: white;
    Padding: 0 0.25rem;
    margin: 0 1rem;
    text-align: center;
    }
nav ul li {
    
    border: red dotted 1px;
    background-color: black;
    margin: 0.2rem 1rem ; 
    text-align: center;
    font-weight: bold;
    display: inline-block;
    }
nav ul a{
text-decoration: none;
Color: red;

}
nav ul a:visited{
    Color: limegreen;

}
nav ul a:hover{
    color: black;
    background-color: palegreen;
}

h1 {
    text-align:center;
    font-weight: bold;
    text-decoration: underline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #017181;
    width: fit-content;
    display: block;
    margin: 0 auto;
    padding: 0.25rem 1rem;
    border: 2px solid #34777B;
    margin-top: 1rem;
}
h2 {
    padding-left: 1.5rem;
    margin-top: 1.5rem ;
}


.quotes {
    width: 650px;
    height: 150px;

    margin: 1.5rem auto 2rem auto;
    max-width: 100%;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;



      
}
    blockquote {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.5rem;
        font-style: italic;
        text-align: center;
        background: black no-repeat center url(http://placekitten.com/650/150/);
        color:white;
        font-weight: bold;
        width: 100%;
        height: 100%;

        margin: 1rem;


        border: 0.5px black solid;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }

cite {
            font-size: 1rem;
            background-color: black;
            margin-top: 1rem;

            
}

section {
    border-radius: 5px;
    border: 1px dashed black;
    display: block;
    margin: 2rem;
    background-color: #539999;
    width:fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
   
}

img {
    border: 0.5px black solid;
}


.floatleft {
    float: left;
}
.floatright {
    float: right;
}

.thinblackborder {
    border: black solid 1px;
}

.welcomepic {
    margin: 2rem auto;
    width: fit-content;
}
.welcomepic img {
    width: 100%;
}
.centertext {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}
.centerpara {
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.largertext {
    font-size: larger;
}
.centerpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nobullets {
    list-style-type: none;
    padding-left: 1.5rem;
        
}
.centerblock {
    margin-left: auto;
    margin-right: auto;
}

.index{
    background-image: url(../Images/oceanback1.jpeg);
    background-size: cover;
    
}

.sodwana {
    width: 60%;
}
.sodwana h2 {
    padding-left: 0;
}
.sodwanapic {
    margin: 2rem auto;
    display: block;
    width: 90%
    
}
.sammichsection {
    padding: 2rem 1 rem;    
    width: 70%;
}
.sammich {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.sammichlist {
        margin-right: 1rem;
        padding-top: 0.5rem;  
        width: 100%;
        flex-basis: 40%;
}
.sammichlist ol {
    list-style-type: upper-roman;
}
.sammichpic {
    margin-right:0.5rem;   
    flex-basis: 60%;
    
}
.pbj {
    width: 300px;
    border: 1px solid black;
    width: 100%;
}
.centersec {
    margin-left: auto;
    margin-right: auto;
}
.hobbies {
    display: flex;
    flex-flow: nowrap row;
    Padding: 1rem;
    width: 80%;
    justify-content: space-between;

    
}
.hobbieslist {
    flex-basis: 40%;
    padding-right: 1.5rem;
}

.hobbiesul {
    list-style-type: circle;
    list-style-position: outside;
}
.sziget {
    margin-right:5%;
    flex-basis: 60%;
    text-align: right;  

          
}   
.szigetpic {
    display: block;
    border: black solid 1px;
    width: 100%;
}

.lines {
    text-align: left;
    margin: 2rem auto 3rem auto;
    padding: 1rem 2rem;

}
.hr-1 {
    width: 100%;      
    border-bottom: 2px solid black;
}

.hr-2 {  
    width: 80%;  
    border-bottom: 2px solid #E8E4E5;
}
.hr-3 {  
    width: 60%;  
    border-bottom: 2px solid red;
}
.hr-4 {  
    width: 40%;  
    border-bottom: 2px solid #E8E4E5;
}
.hr-5 {  
    width: 20%;  
    border-bottom: 2px solid black;
}

.links {
    padding-bottom: 1.5rem;
}

/* About Page */

.about  {
    padding-left: 2rem;
    padding-right: 2rem;
    background-image: url(../Images/forest1.jpg);
    background-size: cover;
}
.about article {
    padding-left: 1rem;
    padding-right: 1rem;
}
.about p, .about img, .hobbiespage p, .hobbiespage img {
    margin-left: 1rem;
    margin-right: 1rem;
}
.about img {    
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.businesscat, .kittenpic {
    width: fit-content;
}

.businesscat img, .kittenpic img {
    width: 100%;
    border: black solid 1px;
}

/* hobbies page */

.hobbiespage {
    background-image: url(../Images/Beach1.jpg);
    background-size: cover;
    
}

section:after {
    content: "";
    display: table;
     clear: both; }
