html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(../img/galaxy.jpg);
	background-size: cover;
	
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color: #7EB5EC;
	border: solid 0.5px #36568F;
	margin-bottom: 2rem;
}
p, [for="abtype"], [for="comments"] {
	margin-bottom: 0;
	margin-top: 2rem;
	}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
	border-left: 1px dashed #36568F;
	padding-left: 1rem;
	height: fit-content;

}
	aside iframe, aside address, aside h2, aside img {
		max-width: 100%;

	}


address {
	border-left: 1px dashed #36568F;
	padding-left: 1rem;
}

fieldset {
	border: 1px solid black;
	border-radius: 10px;
	Margin-bottom: 2rem;
}
legend {
	font-weight: bold;
	font-size: 1.3rem;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	border: 1px solid red;
	display:block;
}
label {
	border: 0px red solid;
	display: block;
	padding-bottom: 0.5rem;
}
textarea {
	height: 10rem;
	padding: 1rem;
}
select {
	font-size: 1rem;
}
button {
	font-size: 1rem;
	margin: 2rem 0;
	background-color: #FFA328;
	color: white; 
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 10px;
}
button:hover {
	background-color: black;
	color: limegreen; 
	border: none;
	cursor: pointer;
	}
input:not([type="radio"]):not([type="checkbox"]),textarea, select {
	border: 1px red solid;
	display:block;
	width: 20rem;
	margin-bottom: 2rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 0 1rem;
	border-radius: 10px;
	border:none;
}

p {
	padding-bottom: 1rem;
}

nav {
	text-align: center;
	margin: 3rem auto 2rem auto;
	padding: 0;
	border: 0px solid red;
	text-align: center;
	width: 80%;
	color: white;
	
	
}
nav ul {
	
	border: 0px solid red;
	display: block;
	list-style-type:none;
	text-align: center;	
	width: fit-content;
	margin: 0 auto;


}
Nav ul li {
	
	border: 1px solid #36568F;
	text-decoration: none;
	background-color: black;
	display: inline-block;
	text-align: center;
	font-size: 1.25rem;
	font-weight: bold;
	padding: 0;
	margin: 0 1rem;
	

}
nav ul a {
	text-decoration: none;
	color: red;	
	display: block;
}
nav ul a:visited {
	color:limegreen;
}
nav ul a:hover {
	color: black;
	background-color: limegreen;
	text-decoration: underline;
}
iframe {
	border: 1px solid black; 
	margin-top:1rem;
}
img {
	border: 0px red solid;
	padding:0;
	
}

button .imready {
	display: none;
}

button:hover .clickhere {
	display:none;
}
button:hover .imready {
	display: block;
	width: 30ch;
	
}
[placeholder] {
	font-family: 'Satisfy', cursive,  Arial, Helvetica, sans-serif;
}