html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  * :not(nav li, h1, h2) {
     border-radius: 5px;
  }
body {
    padding: 0; 
    margin: 0;
    border: 0px solid red;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #598891;
    background-image: url(../Images/Ocean_main.jpg);
    background-size:contain;
    border-radius: 5px;
}
.wrapper {
    
    margin: 0;
    padding: 0;
    padding-top: 2rem;
    border: 0px solid red;
    
}
article {

    width:75%;
    margin: 3rem auto;
    background-color: #598891;
    padding: 1rem;
    padding-bottom: 2rem;
    border: 2px solid #34777B;
    
}

nav {
    padding-bottom: 2rem;
    
}

nav ul {
    background-color: #39A0A2;
    Border: 2px solid #34777B;
    width:fit-content;
    list-style-type:none;
    display:block;
    color: white;
    Padding: 0 0.25rem;
    margin: 0 auto;
    text-align: center;
    }
nav ul li {
    
    border: red dotted 1px;
    background-color: black;
    margin: 0.2rem 1rem ; 
    text-align: center;
    font-weight: bold;
    display: inline-block;
    }
nav ul a{
text-decoration: none;
Color: red;

}
nav ul a:visited{
    Color: limegreen;

}
nav ul a:hover{
    color: black;
    background-color: palegreen;
}

h1 {
    text-align:center;
    font-weight: bold;
    text-decoration: underline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #598891;
    width: fit-content;
    display: block;
    margin: 0 auto;
    padding: 0.25rem 1rem;
    border: 2px solid #34777B;
}
h2 {
    padding-left: 1.5rem;
    margin-top: 1.5rem ;
}

ul {
    border: black 0px solid;
    }

    blockquote {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.5rem;
        font-style: italic;
        text-align: center;
        background: black no-repeat center url(http://placekitten.com/900/150/);
        color:white;
        font-weight: bold;
        width: 900px;
        height: 150px;
        display: block;
        margin: 0 auto;
        padding-top: 1rem;
        border: 0.5px black solid;
        text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }

cite {
            font-size: 1rem;
            background-color: black;
            width: 900px;
            height: 150px;
            
}

section {
    border-radius: 5px;
    border: 1px dashed black;
    display: block;
    margin: 1rem;
    background-color: #539999;
    width:fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
   
}

img {
    border: 0.5px black solid;
}

.floatleft {
    float: left;
}
.floatright {
    float: right;
}

.thinblackborder {
    border: black solid 1px;
}

.welcomepic {
    margin: 2rem;
}
.centertext {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}
.centerpara {
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.largertext {
    font-size: larger;
}
.centerpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nobullets {
    list-style-type: none;
    padding-left: 1.5rem;
        
}
.centerblock {
    margin-left: auto;
    margin-right: auto;
}
.upperromanlist {
    list-style-type: upper-roman;
}

.circlebullet {
    list-style-type: circle;
    list-style-position: inside;
}
.sodwanapic {
    display: block;
    margin: 2rem auto;
}
.sammichpic {
    width: 300px;
    margin-right:20%;
    margin-bottom: 1rem;
}
section:after {
    content: "";
    display: table;
     clear: both; 
}

section img {
    margin: 0.5rem 1rem 0.5rem 1rem;
}
.forestback {
    background-image: url(../Images/forest1.jpg);
    background-size: contain;
    border: 0px solid red;
    
}

.hobbies {
    display: inline-block;
}
.sziget {
    margin-right:10%;
    display: block;

}   
.centersec {
    margin-left: auto;
    margin-right: auto;
}